:root {
  --color-sg-green: #00473C;
  --color-sg-light-green: #f4f3e7;
}

/* --- ESTRUCTURA --- */
.map-main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 65px);
  position: relative;
  overflow: hidden;
}

.sidebar {
  width: 315px;
  height: 100%;
  background: white;
  z-index: 1000;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  border-right: 1px solid #e5e7eb;
}

.map-wrapper {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

#map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* --- BOTONES --- */
.button-container {
  display: flex;
  overflow-x: auto; 
  white-space: nowrap; 
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  scrollbar-width: none; /* Oculta barra en Firefox */
}

.button-container::-webkit-scrollbar {
   display: none; }

.category-button {
  color: #1F2937;
  background-color: #ffffff;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.category-button.active {
  background-color: #e5e7eb;
  font-weight: bold;
}

.separator {
  border-left: 1px solid #ccc;
  height: 25px;
  margin: 0 10px;
  align-self: center;
  flex-shrink: 0;
}

.search-area-button {
  position: absolute; 
  top: 80px;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 10;
  background-color: var(--color-sg-green);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
}

/* --- RESPONSIVE MÓVIL --- */
@media (max-width: 768px) {
  .sidebar {
    z-index: 2000;
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    transform: translateX(-100%);
    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }

  .mobile-list-toggle {
    display: block !important;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background: var(--color-sg-green);
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
  .category-button {
    padding: 6px 10px; /* Reducimos el relleno */
    font-size: 0.75rem; /* Letra más pequeña */
  }
  .button-container {
    padding-left: 15px; /* Deja un margen al principio */
    padding-right: 50px; /* Deja aire al final para que se note que hay más botones */
  }
}

.mobile-list-toggle { display: none; }